name: pullGImages
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Login in Docker Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.PUSHIMAGE }}
    - name: Docker pull and push
      run: |
        docker pull k8s.gcr.io/ingress-nginx/controller:v0.35.0
        docker tag  k8s.gcr.io/ingress-nginx/controller:v0.35.0  ghcr.io/weiwendi/ingress-nginx/controller:v0.35.0
        docker push ghcr.io/weiwendi/ingress-nginx/controller:v0.35.0
